<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="ShockDatacaster" Language="2057" Version="2.0.0.0" Manufacturer="Shock Radio" UpgradeCode="159d5a5a-fbc0-4c76-b66a-b1c403f88e49">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of ShockDatacaster is already installed." />
		<MediaTemplate  EmbedCab="yes" CompressionLevel="high" />
		<Feature Id="ProductFeature" Title="ShockDatacaster" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Setup" />
			</Directory>
		</Directory>
	</Fragment>
	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
		</ComponentGroup>
	</Fragment>
</Wix>